body{
    font-family: 'Open Sans', sans-serif;
}
.navbar{
    background-color: #A56FEB;
}
.nav-link{
    color: #F39095;
}
.quem-somos{
    background-color:#A19568;
    color: #ffff;
}
.margin{
    padding-top: 50px;
    padding-bottom: 50px;
}
